<html>
    <head>
        <title>Our App</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/loading-bar.css') }}">
        <script src="{{ url_for('static', filename='js/loading-bar.js') }}" language="JavaScript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
                  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
                  crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
          // socket.emit('json', {data: 'I\'m connected!'});
	  console.log('connected');
        });
        socket.on('json', function(msg, cb) {
          if (msg.distance !== undefined) {
            document.getElementById("myBar").with = msg.distance;
          }
        });
        socket.on('orientation', function(dist_obj) {
          const json = JSON.parse(dist_obj);

          console.log(json);
          if (json.orientation !== undefined) {
            document.getElementById("value2").setAttribute("data-value",json.orientation);
            document.getElementById("value").innerHTML=json.orientation;
	          var bar = document.getElementById("value2").ldBar;
            bar.set(json.orientation);
            console.log(json.orientation);
          }
        });
        </script>
        <script>
            function getVal(){
              //  progressCir.setAttribute('dataVal','40');
              alert('hey!');
            }
        </script>
    </head>
    <body>
      <h1>Make a circle</h1>
	 <p>
	 </p>
      <h3 class="task_desc">Try and create a circle in 20 second or less</h3>

        <div
	  id = "value"
          class="ldBar label-center"
          style="width:50%;height:50%;margin:auto"
          data-preset="circle"
          data-stroke="data:ldbar/res,gradient(0,1,#9df,#9fd,#df9,#fd9)"
        ></div>
	<script>
	//	var bar1 = new ldBar("#value2");
	//	var bar2 = document.getElementById('value2').ldBar;
	//	bar1.set(bar2);
	</script>
        <div class="startWrapper">
          <button id="start" onclick="getVal()">Start Circle!</button>
        </div>


</body>


</html>
